@keyframes turn {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(360deg);
  }
}
@keyframes rotate7 {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes wave {
  from {
    transform: rotateX(360deg);
  }
  to {
    transform: rotateX(0);
  }
}
@keyframes slideup {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes rotate5 {
  from {
    transform: rotateX(360deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
@keyframes rotate6 {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes rotate {
  from {
    transform: rotateY(20deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes rotate2 {
  from {
    transform: rotateX(20deg);
  }
  to {
    transform: rotateX(360deg);
  }
}
@keyframes rotate3 {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate4 {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  overflow-x: hidden;
  flex-direction: column;
  background-color: #fefefe;
}
header {
  gap: 3rem;
  display: flex;
  align-items: center;
  background: #7557fc;
  flex-direction: column;
  padding: 2rem 0;
}
nav {
  width: 80vw;
  padding: 10px;
  margin: 0 auto;
  background: #fff;
  border-radius: 30px;
  border: 1px solid #5775fc;
}
.ul {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.li {
  display: flex;
  list-style-type: none;
}
.logo {
  max-width: 100%;
  clip-path: circle(20px);
  width: 70px;
}
.link {
  color: #7557fc;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  /* transform: translateX(5px); */
}
.link:hover {
  padding: 10px;
  color: #fff;
  border-radius: 50px;
  background: #7557fc;
  transition: all 1s ease;
}
.profile {
  padding: 0.5rem;
  font-size: 2em;
  color: #7557fc;
  border-radius: 30px 10px;
  border: 2px solid #7557fc;
}
.profile:hover {
  background: #7557fc;
  color: #fff;
  transition: all 1s ease;
}
.heads {
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
  font-family: serif;
  animation: turn 2s infinite;
}
.head {
  animation: slideup 1s 0s 1;
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
  top: 800px;
  left: 330px;
  font-family: serif;
}
.box {
  width: 20rem;
  height: 20rem;
  overflow: scroll;
  position: relative;
  background: #fff;
  clip-path: circle(20%);
  transform-origin: center;
  background-size: content;
  animation: rotate 3s infinite both;
}
.box::before {
  width: 20rem;
  content: " ";
  height: 20rem;
  overflow: scroll;
  position: absolute;
  border: 1px #fff;
  background: #7557fc;
  clip-path: circle(20%);
  transform-origin: center;
  animation: rotate2 3s infinite both;
}
.box-text {
  color: #fff;
  top: 530px;
  left: 490px;
}
.section1 {
  gap: 5rem;
  display: flex;
  padding: 2.5rem 0;
  background: #000;
  flex-direction: column;
}
.college1 {
  gap: 2rem;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
/* .border {
  width: 90vw;
  height: 41vh;
  perspective: 100px;
  border: 1px solid #7557fc;
} */
.head1 {
  color: #fff;
  width: 19rem;
  font-size: 1.7em;
  font-weight: 700;
  position: relative;
  text-align: center;
}
.head1::before {
  top: -1.3rem;
  left: -1rem;
  width: 92vw;
  height: 13vh;
  content: " ";
  position: absolute;
  perspective: 100px;
  border: 1px solid #7557fc;
}
.boxes-animation {
  position: relative;
}
.box2 {
  top: 0;
  width: 20rem;
  height: 20rem;
  overflow: scroll;
  position: relative;
  background: #fff;
  border: 1px #7557fc;
  clip-path: circle(20%);
  transform-origin: center;
  animation: rotate 3s infinite both;
}
.box2::before {
  content: " ";
  width: 20rem;
  height: 20rem;
  overflow: scroll;
  position: absolute;
  background: #7557fc;
  clip-path: circle(20%);
  transform-origin: center;
  animation: rotate2 3s infinite both;
}
.boxes {
  top: 8rem;
  height: 9vh;
  width: 90vw;
  position: absolute;
  perspective: 1000px;
  transform-origin: center;
  background: #7557fc;
  transform: rotateX(45deg);
  animation: wave 2s infinite ease-in-out;
}
.text-1 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  line-height: 1.5rem;
}
.college2 {
  gap: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.head2 {
  gap: 0.5rem;
  width: 19rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  display: inline-flex;
}
.color {
  color: #7557fc;
}
.line {
  gap: 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.line li {
  width: 80vw;
  font-size: 1rem;
}
.head3 {
  gap: 0.5rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  display: inline-flex;
}
.college3 {
  gap: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  overflow-x: hidden;
}
.scroll-container {
  overflow-x: scroll;
  white-space: nowrap;
}
.scroll-box {
  display: inline-block;
  justify-content: space-between;
  top: 50pc;
}
.sec {
  display: inline-block;
}
.scroll-item {
  height: 5rem;
  width: 5rem;
  border: 1px solid #fff;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 1px 2px;
}
.d {
  color: #fff;
  font-size: 1.1em;
  white-space: normal;
  left: 10px;
  top: 21pc;
  text-align: center;
}
.section2 {
  background-color: #fff;
  height: 100vh;
}
.college4 {
}
.head4 {
  color: #000;
  font-size: 3em;
  top: 4pc;
  left: 5px;
  display: flex;
  gap: 5px;
}
.text-2 {
  color: #000;
  font-size: 1.5em;
  font-weight: 400;
  padding-top: 12pc;
  margin-left: 1pc;
  margin-right: 1pc;
  text-align: center;
}
.head5 {
  color: #000;
  font-size: 3em;
  top: 23pc;
  left: 5pc;
  display: flex;
  gap: 10px;
}
.text-3 {
  color: #000;
  font-size: 1.5em;
  font-weight: 400;
  padding-top: 8pc;
  margin-left: 1pc;
  margin-right: 1pc;
  text-align: center;
  animation: slidein 1s;
}
.head6 {
  color: #000;
  font-size: 3em;
  top: 40pc;
  left: 5pc;
  display: flex;
  gap: 10px;
}
.text-4 {
  color: #000;
  font-size: 1.5em;
  font-weight: 400;
  padding-top: 8pc;
  margin-left: 1pc;
  margin-right: 1pc;
  text-align: center;
  animation: slidein 1s;
}
.head7 {
  color: #000;
  font-size: 3em;
  top: 60pc;
  left: 5pc;
  display: flex;
  gap: 10px;
}
.text-5 {
  color: #000;
  font-size: 1.5em;
  font-weight: 400;
  padding-top: 8pc;
  margin-left: 1pc;
  margin-right: 1pc;
  text-align: center;
  animation: slidein 1s;
}
.head8 {
  color: #000;
  font-size: 3em;
  top: 79pc;
  left: 5pc;
  display: flex;
  gap: 10px;
}
.text-6 {
  color: #000;
  font-size: 1.5em;
  font-weight: 400;
  padding-top: 8pc;
  margin-left: 1pc;
  margin-right: 1pc;
  text-align: center;
  animation: slidein 1s;
}
.box3 {
  background: #7557fc;
  color: #fff;
  overflow: scroll;
  max-width: 100%;
  height: 700px;
  width: 700px;
  clip-path: circle(50px at 30%);
  top: 85pc;
  left: 8pc;
  animation: rotate3 2s infinite both;
  transform-origin: center;
}
.box4 {
  background: #000;
  color: #fff;
  overflow: scroll;
  max-width: 100%;
  height: 300px;
  width: 300px;
  clip-path: circle(20%);
  top: 97pc;
  left: 21pc;
  animation: rotate4 2s infinite both;
}
.heads1 {
  display: inline;
  width: 3rem;
  color: #000;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0 0.4rem;
}
.section3 {
  background-color: #7557fc;
  height: 90vh;
}
.college5 {
  display: flex;
  flex-direction: column;
}
.head9 {
  color: #fff;
  font-size: 2.5em;
  text-align: center;
  top: 2pc;
  left: 1pc;
  right: 1pc;
  display: block;
  gap: 0px;
}
.color1 {
  color: #000;
}
.head10 {
  color: #fff;
  font-size: 2.5em;
  top: 23pc;
  left: 1pc;
  display: flex;
  gap: 10px;
}
.line1 {
  color: #fff;
  top: 28pc;
  margin-left: 2pc;
}
.line1 li {
  font-size: 1.5em;
  margin-left: 1pc;
  margin-right: 1pc;
  padding: 1pc;
}
.head11 {
  color: #fff;
  font-size: 2.5em;
  top: 40pc;
  left: 1pc;
  display: flex;
  gap: 10px;
}
.line2 {
  color: #fff;
  top: 45pc;
  margin-left: 2pc;
}
.line2 li {
  font-size: 1.5em;
  margin-left: 1pc;
  margin-right: 1pc;
  padding: 1pc;
}
.text-7 {
  color: #fff;
  font-size: 2.1em;
  font-weight: 500;
  padding-top: 70pc;
  margin-left: 1pc;
  margin-right: 1pc;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}
.text-7.active {
  opacity: 1;
  transform: translateY(0);
}
.box5 {
  background: #fff;
  color: #fff;
  overflow: scroll;
  max-width: 100%;
  height: 300px;
  width: 300px;
  clip-path: polygon(
    0% 15%,
    15% 15%,
    15% 0%,
    85% 0%,
    85% 15%,
    100% 15%,
    100% 85%,
    85% 85%,
    85% 100%,
    15% 100%,
    15% 85%,
    0% 85%
  );
  top: 87pc;
  left: 20pc;
  right: 2pc;
  animation-name: rotate5;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: both;
  transform-origin: center;
}
.box6 {
  background: #7557fc;
  color: #fff;
  overflow: scroll;
  max-width: 100%;
  height: 260px;
  width: 200px;
  clip-path: polygon(100% 0%, 29% 51%, 100% 100%, 66% 100%, 0% 50%, 67% 1%);
  top: 88.2pc;
  left: 23pc;
  animation-name: rotate6;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: both;
}
.footer {
  background: #000;
  height: 60vh;
}
.college6 {
  display: flex;
  flex-direction: column;
}
.box7 {
  background: #7557fc;
  color: #fff;
  overflow: scroll;
  max-width: 100%;
  height: 200px;
  width: 200px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  top: 2pc;
  left: 24pc;
  animation-name: rotate6;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: both;
}
.text-8 {
  color: #fff;
  font-size: 2.1em;
  font-weight: 500;
  padding-top: 30pc;
  margin-left: 1pc;
  margin-right: 1pc;
  display: flex;
  gap: 10px;
}
.call {
  color: #7557fc;
}
.head12 {
  color: #fff;
  font-size: 2.5em;
  top: 40pc;
  left: 1pc;
}
.icon {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.mini-icon {
  color: #fff;
  font-size: 6em;
}
.mini-icon:hover {
  color: #7557fc;
  transition: transform 3s ease-in;
}
.text-9 {
  color: #fff;
  font-size: 2.1em;
  font-weight: 500;
  padding-top: 60pc;
  margin-left: 1pc;
  margin-right: 1pc;
  display: flex;
  gap: 10px;
}
.text-10 {
  color: #fff;
  font-size: 2.1em;
  font-weight: 500;
  padding-top: 70pc;
  margin-left: 1pc;
  margin-right: 1pc;
  display: flex;
  gap: 10px;
}
/* Styles for phones
@media only screen and (max-width: 767px) {
  header {
    height: 70vh;
  }
  nav {

    width: 22pc;
    margin: 5px;
  }
  .ul {
    margin-left: 0px;

  }
  .li {

    justify-content: space-between;
    padding: 13px;
  }
  .profile {
    font-size: 1em;
  }
  .link {
    font-size: 0.5em;
    transform: none;
  }
  .link:hover {
    background: #7557fc;
    color: #fff;
    padding: 5px;
    border-radius: 50px;
    transition: 1s ease-in;
  }
  .heads {
    font-size: 1em;
    top: 5pc;
    left: 7.5pc;
  }
  .box {
    height: 300px;
    width: 300px;
    left: 2.2pc;
    top: 6pc;
  }
  .box2 {
    height: 300px;
    width: 300px;
    top: 1em;
    left: 2.2pc;
    top: 6pc;
  }
  .section1 {

    height: 150vh;
  }
  .head {
    font-size: 1em;
    top: 25pc;
    left: 4.5pc;
  }
  .head1 {
    font-size: 1em;
  }
  .border {
    height: 5pc;
    width: 21pc;
    left: 0.7pc;
    top: 2.5pc;
  }
  .boxes {
    height: 12px;
    width: 21pc;
    top: 5pc;
    left: 0.1pc;
  }
  .text-1 {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    padding-top: 9pc;
    margin-left: 1pc;
    margin-right: 1pc;
    text-align: center;
  }
  .head2 {
    font-size: 1.2em;

    top: 0.8pc;
    left: 1pc;
    display: flex;
    gap: 10px;
  }
  .line {
    color: #fff;

    top: 3pc;
    margin-left: 1pc;
  }
  .line li {
    font-size: 1em;
    margin-left: 1pc;
    margin-right: 1pc;
    padding: 0.5pc;
  }
  .head3 {
    color: #fff;
    font-size: 1.2em;

    top: 36pc;
    left: 1pc;
    display: flex;
    gap: 10px;
  }
  .scroll-container {
    overflow-x: scroll;
    white-space: nowrap;
  }
  .scroll-box {
    display: inline-block;

    top: 40pc;
  }
  .sec {
    display: inline-block;

  }
  .scroll-item {

    height: 5pc;
    width: 6pc;
    border: 1px solid #fff;
    left: 0.1pc;
    right: 0.1px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 1px 2px;
  }
  .d {

    color: #fff;
    font-size: 0.1em;
    white-space: normal;
    left: 10px;
    top: 6pc;
    text-align: center;
  }
  .section2 {
    height: 210vh;
  }
  .head4 {
    font-size: 1.2em;
    font-weight: 700;

    top: 2pc;
    left: 1pc;
    display: block;
    text-align: center;
    gap: 0px;
  }
  .text-2 {
    font-size: 1em;
    font-weight: 400;
    padding-top: 8pc;
    margin-left: 1pc;
    margin-right: 1pc;
    text-align: center;
  }
  .head5 {
    color: #000;
    font-size: 1.2em;

    top: 21pc;
    left: 1pc;
    display: flex;
    gap: 7px;
  }
  .text-3 {
    font-size: 1em;
    font-weight: 400;
    padding-top: 4pc;
    margin-left: 1pc;
    margin-right: 1pc;
    text-align: center;
  }
  .head6 {
    color: #000;
    font-size: 1.2em;

    top: 36pc;
    left: 1pc;
    display: flex;
    gap: 7px;
  }
  .text-4 {
    font-size: 1em;
    font-weight: 400;
    padding-top: 4pc;
    margin-left: 1pc;
    margin-right: 1pc;
    text-align: center;
  }
  .head7 {
    color: #000;
    font-size: 1.2em;

    top: 56pc;
    left: 1pc;
    display: flex;
    gap: 7px;
  }
  .text-5 {
    font-size: 1em;
    font-weight: 400;
    padding-top: 4pc;
    margin-left: 1pc;
    margin-right: 1pc;
    text-align: center;
  }
  .head8 {
    color: #000;
    font-size: 1.2em;

    top: 74pc;
    left: 1pc;
    display: flex;
    gap: 7px;
  }
  .text-6 {
    font-size: 1em;
    font-weight: 400;
    padding-top: 4pc;
    margin-left: 1pc;
    margin-right: 1pc;
    text-align: center;
  }
  .box4 {
    background: #000;
    color: #fff;

    overflow: scroll;
    max-width: 100%;
    height: 80px;
    width: 90px;
    clip-path: circle(20%);
    top: 87pc;
    left: 9pc;
  }
  .box3 {
    background: #7557fc;
    color: #fff;

    overflow: scroll;
    max-width: 100%;
    height: 100px;
    width: 100px;
    clip-path: circle(10px at 10%);
    top: 86.5pc;
    left: 8.5pc;
    animation-name: rotate3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: both;
    transform-origin: center;
  }
  .heads1 {
    color: #000;
    font-size: 0.7em;
    font-weight: 700;

    top: 95pc;
    display: flex;
    flex-wrap: 2px;
    gap: 0px;
  }
  .section3 {
    height: 130vh;
  }
  .head9 {
    color: #fff;
    font-size: 1.2em;

    text-align: center;
    top: 2pc;
    left: 1pc;
    right: 1pc;
    display: block;
    gap: 0px;
  }
  .head10 {
    font-size: 1.2em;

    top: 10pc;
    left: 1pc;
    display: flex;
    gap: 10px;
  }
  .line1 {

    top: 12pc;
    margin-left: 1pc;
  }
  .line1 li {
    font-size: 1em;
    margin-left: 1pc;
    margin-right: 1pc;
    padding: 0.5pc;
  }
  .head11 {
    font-size: 1.2em;

    top: 23pc;
    left: 1pc;
    display: flex;
    gap: 10px;
  }
  .line2 {

    top: 25pc;
    margin-left: 1pc;
  }
  .line2 li {
    font-size: 1em;
    margin-left: 1pc;
    margin-right: 1pc;
    padding: 0.5pc;
  }
  .text-7 {

    font-size: 1em;
    font-weight: 500;
    padding-top: 40pc;
    margin-left: 1pc;
    text-align: center;
  }
  .box5 {
    background: #fff;
    color: #fff;

    overflow: scroll;
    max-width: 100%;
    height: 100px;
    width: 100px;
    clip-path: polygon(
      0% 15%,
      15% 15%,
      15% 0%,
      85% 0%,
      85% 15%,
      100% 15%,
      100% 85%,
      85% 85%,
      85% 100%,
      15% 100%,
      15% 85%,
      0% 85%
    );
    top: 51pc;
    left: 8pc;
    animation-name: rotate5;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: both;
    transform-origin: center;
  }
  .box6 {
    background: #7557fc;
    color: #fff;

    overflow: scroll;
    max-width: 100%;
    height: 90px;
    width: 100px;
    clip-path: polygon(100% 0%, 29% 51%, 100% 100%, 66% 100%, 0% 50%, 67% 1%);
    top: 51.3pc;
    left: 8pc;
    animation-name: rotate6;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: both;
  }
  .footer {
    height: 70vh;
  }
  .box7 {
    background: #7557fc;
    color: #fff;

    overflow: scroll;
    max-width: 100%;
    height: 100px;
    width: 100px;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
    top: 2pc;
    left: 8pc;
  }
  .text-8 {
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    padding-top: 10pc;
    margin-left: 1pc;
    margin-right: 1pc;

    display: flex;
    gap: 10px;
  }
  .head12 {
    color: #fff;
    font-size: 1.1em;

    top: 15pc;
    left: 1pc;
  }
  .icon {

    display: flex;
    gap: 20px;
    top: 20pc;
    left: 1pc;
  }
  .mini-icon {
    color: #fff;
    font-size: 2em;
  }
  .mini-icon:hover {
    color: #7557fc;
    transition: transform 3s ease-in;
  }
  .text-9 {
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    padding-top: 25pc;
    margin-left: 1pc;

    display: flex;
    gap: 10px;
  }
  .text-10 {
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    padding-top: 30pc;
    margin-left: 1pc;

    display: flex;
    gap: 10px;
  }
} */
